{% extends 'base.html' %}
{% load static %}

{% block title %}
Тема 2. Как работать меньше, а зарабатывать больше
{% endblock title %}


{% block content %}
<h1>Тема 2. Как работать меньше, а зарабатывать больше</h1>
<h3>
    Большинство из нас хотели бы иметь намного больше свободного времени, чем сейчас.
    Дело в том, что работа «съедает» большую часть дня, а во сне человек проводит треть отпущенной ему жизни.
    Жертвовать работой мы не можем, так как она является источником нашего дохода.
    Жертвовать сном так же плохая идея, так как он является источником энергии.
    Однако разгрузиться и не потерять при этом ни часть заработной платы, ни время,
    отделённое на сон, возможно и в этом уроке мы расскажем как!</h3>

<h3>Коуч и гуру теории Doing less Питер Тейлор убежден:
    беря на себя слишком много дел, вы не продвинетесь по карьерной лестнице, а лишь надорветесь.
    Дорогу наверх осилит тот, кто умеет разумно лениться.
    <br>
    Однако это совершенно не означает, что нужно прямо сейчас отбросить все дела и сделать лень своим привычным стилем жизни.
</h3>
<center><img src="{% static 'img/asd.png' %}" height="400px" width="50%"></center>
<h3>Существует несколько простых советов:</h3>
<ol class="list-group list-group-numbered">
    <li class="list-group-item list-group-item-success"><h3>Планирование времени<br>
    Пересмотреть рабочий график так, чтобы он учитывал часы максимальной работоспособности.
    Ставить самые сложные и объемные задачи именно на это время: так легче с ними справиться,
        а часов на их решение уйдет меньше.</h3>
    </li>
    <li class="list-group-item list-group-item-info">
    <h3>Стоп мультизадачности</h3>
    <h3>Многозадачность не делает нас более продуктивным.
        На самом деле, разделение нашего внимания оказывает негативное влияние на производительность труда, концентрацию и энергию.
        «Многозадачность в итоге заставляет вас работать медленнее, увеличивая шансы на ошибки», говорит David Meyer,
        ученый из Университета Мичигана. Так что, если вы хотите быть более продуктивными, то учитесь делать одно дело за один раз.
    </h3>
    </li>
    <li class="list-group-item list-group-item-warning">
    <h3>Выделите время и место для размышлений</h3>
    <h3> Найдите такое место, где вас никто не будет отвлекать и возвращать на землю, и думайте обо всем кроме работы.
        Вначале будет непривычно, но потом вы научитесь. Посещайте это тайное место регулярно.</h3>
    </li>
</ol>




<h3><p>Таким образом, мы сделали вывод, что, отдыхом пренебрегать не стоит.
    Поэтому применяйте данные способы, чтобы меньше работать. И оптимизируйте время, улучшайте качество жизни и
    деятельности, чтобы больше зарабатывать. </p></h3>
<h3><p>&#127918; В конце каждой темы, чтобы закрепить изученный материал, мы будем советовать мобильную игру.</p></h3>
<h3><p>Игра: Railway Empire</p></h3>
<h3><p> Railway Empire — игра, которая позволит вам стать американским железнодорожным магнатом. Действие происходят в
    первой половине XIX — начале ХХ века. Покупайте локомотивы, стройте железнодорожные пути, нанимайте персонал для
    обслуживания и самое важное — зарабатывайте. В игре предусмотрены следующие режимы: песочница — возможность
    нелинейного прохождения со свободой действий у игрока и кампания — линейное, сюжетное прохождение.</p></h3>
{% endblock content %}
