{% extends 'base.html' %}
{% load static %}

{% block title %}
Тема 5.Как построить бизнес с нуля?
{% endblock title %}



{% block content %}
<h1>Тема 5.Как построить бизнес с нуля?</h1>
<h3>Бизнес – это предпринимательская деятельность, которая осуществляется самостоятельно для получения прибыли.</h3>
<h3>Вполне возможно, что в будущем вы будете именно предпринимателем. А может у вас уже есть интересная идея для бизнеса? В любом случае всё не так просто, как кажется! С помощью данного урока разберёмся, что потребуется начинающему предпринимателю.</h3>
<h3>В первую очередь определитесь с идеей и составьте стратегию. Выясните, что у вас получается лучше всего и есть ли на это спрос у клиентов.</h3>
<h3>Хороший предприниматель должен уметь не только быть готовым к риску, но и уметь быстро принимать верные решения.</h3>
<center><img class="img-rounded" src="{% static 'img/economist.jpg' %}" height="600px" width="50%"></center>
<h3><strong> Бизнес-план</strong></h3>
<h3>Чтобы оценить плюсы и минусы бизнеса, понять его перспективы и минимизировать риски, составьте <strong>подробный бизнес-план</strong>. В сети есть готовые документы, используйте их как образец, но учитывайте нюансы своего проекта. Это особенно важно, если вы планируете показывать бизнес-план инвестору или банку, — у каждой компании свои требования к оформлению.</h3>
<h3><strong>Финансирование</strong></h3>
<h3>Для начала нужен стартовый капитал. Не всегда получается быстро накопить нужную сумму, поэтому вы можете взять кредит, найти инвесторов, занять у знакомых или собрать деньги через <strong>краудфандинговые платформы</strong>.</h3>
<h3><strong>Форма ведения бизнеса и налоги</strong></h3>
<h3>Определитесь с формой ведения бизнеса, режимом налогообложения и отчетностью перед налоговой. Подробнее о регистрации бизнеса и налогах можно узнать <strong>на сайте ФНС</strong>.</h3>
<h3><strong>Особенности бизнеса</strong></h3>
<h3>Чтобы учесть все тонкости бизнеса, обратитесь за советом к опытному предпринимателю из соответствующей сферы или бизнес-консультанту. К примеру, они могут помочь с вопросами лицензирования или сертификации.</h3>

<center><img class="img-rounded" src="{% static 'img/scale_1200.png' %}" height="600px" width="50%"></center>
<h3>Таким образом, мы сделали вывод, что, создание собственного бизнеса с нуля - сложный процесс, где стартовой и одной из важнейших точек является выбор подходящей бизнес-идеи.</h3>
<h3><p>&#127918; В конце каждой темы, чтобы закрепить изученный материал, мы будем советовать мобильную игру.</p></h3>
<h3><p>Игра: Stardew Valley</p></h3>
<h3><p> Stardew Valley — симулятор жизни на ферме. Эта приятная и спокойная игра с простой графикой запустится на любом компьютере. Ваша цель — восстановить и сделать рентабельной заброшенную ферму, которая досталась вам по наследству.</p></h3>
{% endblock content %}
