{% extends 'base.html' %}
{% load static %}

{% block title %}
Тема 3.Инвестиции
{% endblock title %}




{% block content %}
<h1>Тема 3.Инвестиции</h1>
<h3> Инвестиции — это вложение денежных средств для получения дохода или сохранения капитала.</h3>
<h3>Если говорить простым языком, то инвестирование - это, как убрать 100 рублей в копилку,
    забыть о ней, например, на год, а после, вытащить из неё 200 рублей.</h3>
<center><img class="img-rounded" src="{% static 'img/invest.png' %}" height="400px" width="50%"></center>
<h3> На бирже существует множество способов вложить деньги. Одни не требуют глубоких познаний работы финансовых рынков, другими занимаются только профессионалы. </h3>
<h3>К самым распространенным предметам для инвестиций на бирже можно отнести:</h3>
<h3> - Инвестиции в акции.</h3>
<h3> - Инвестиции в облигации (государственные или корпоративные).</h3>
<h3> - Инвестиции в драгоценные металлы (золото, серебро, платина).</h3>
<h3> - Инвестиции в биржевые фонды ETF или ПИФы.
    Покупка валюты.</h3>
<h3> - Инвестиции в производные финансовые инструменты (фьючерсы, опционы, свопы и пр.)</h3>
<br>
<br>
<h3>Инвестиции — это не только прибыль, но и возможность потерять деньги.</h3>
<br>
<h3>Подумайте:</h3>
<h3>Куда бы вы вложили деньги: в молодую, но быстро развивающуюся компанию или в стабильную и надежную корпорацию.</h3>
<h3> На самом деле, правильного ответа здесь нет и не может быть. Ситуации отличаются уровнем риска, а значит вы сами делаете выбор: двигаться стабильно или довериться удаче. Например, если попробовать инвестировать в молодую компанию или стартап, риски будут велики, но и прибыль в случае удачного исхода будет намного больше. Стабильные, надежные компании — не про риск и взрывной рост, а про надежное вложение средств на будущее и медленный, но, скорее всего, верный рост и стабильный пассивный доход.</h3>
<h3><p>Таким образом, мы сделали вывод, что, Инвестиции обладают двумя ключевыми качествами, которые имеет прямую взаимосвязь. Это доходность и риск. Чем выше риск, с которым связана инвестиция, тем выше может быть потенциальная доходность. И наоборот — относительно надежные инвестиции никогда не позволяют рассчитывать на высокий заработок.</h3>
<h3><p>&#127918; В конце каждой темы, чтобы закрепить изученный материал, мы будем советовать мобильную игру.</p></h3>
<h3><p>Игра: Monopoly Plus</p></h3>
<h3><p> Игра развивает следующие навыки и умения:

    <br>
    1. Правильное управление своими финансами.
    <br>
    <br>
    2. Сохранение и приумножение собственных денег.
    <br>
    <br>
    3. Развитие навыков ведения бизнеса и инвестирования.
    <br>
    <br>
    4. Обучение новым способам зарабатывания денег.
    <br>
    <br>
    5. Тренировка логического мышления и памяти.
    <br>
    <br>
    6. Укрепление способности к планированию и лидерству.
    <br>
    <br>
    Монополия помогает овладеть базовыми знаниями для превращения идей в активы.
</p></h3>
{% endblock content %}
