{% extends 'base.html' %}
{% load static %}

{% block title %}
Тема 1.Кем мне работать, чтобы много зарабатывать?
{% endblock title %}




{% block content %}
<h1>Тема 1.Кем мне работать, чтобы много зарабатывать?</h1>
<h3> Кем мне работать, чтобы получать большую зарплату?
    Кто из нас не задавался этим вопросом.
    Несмотря на то, что единого ответа на этот вопрос не существует, мы постараемся в этом разобраться!</h3>
<center><img class="img-rounded" src="{% static 'img/other_professions.jpg' %}" height="400px" width="50%"></center>

<h3>В Большом энциклопедическом словаре профессия определяется как вид трудовой деятельности,
    для которого нужна определённая подготовка и компетенции и который является основным источником дохода.</h3>
<h3>Однако хочется, чтобы профессия, даже высокооплачиваемая, не только приносила деньги, но и вдохновляла.
    Тогда доход будет сочетаться с удовольствием.</h3>
<h3>Чтобы построить успешную карьеру – нужно полюбить свою работу. У сотрудника, которому нравится работа –
    всегда горят глаза. Он полон энергии и проявляет повышенный интерес к развитию компании. У него много друзей.</h3>
<h3>Сотрудник, который работает на нелюбимой работе – очень апатичен.
    Он действует исключительно по инструкции и никогда не стремятся к повышению.
    Финансовая необходимость заставляет его каждый день возвращаться в офис.
    Такое разное отношение к работе связано в первую очередь с мотивацией. Не многие знают, что ей можно управлять.</h3>
<h3><p> &#128078; Основные причины неудачного выбора профессии:</p></h3>

<ol class="list-group list-group-numbered">
    <li class="list-group-item list-group-item-success">Бессознательная некомпетентность. человек просто не представляет, какой деятельностью хочет заниматься, и не желает задумываться о профессии заранее.
        У него абсолютно нет видения будущего, поэтому дело жизни выбирается «методом тыка».
        Закончив обучение и оказавшись на работе, человек ощущает себя не на своём месте.
    </li>
    <li class="list-group-item list-group-item-info">Покорность чужому мнению.
        Иногда авторитетом для нас становятся друзья: молодой человек или девушка поступают туда, куда идут учиться их приятели, чтобы продолжать быть вместе.
        Что касается доверия мнению родителей, то надо иметь в виду, что они жили и учились в другую эпоху и их представления о реальности могли сильно устареть.
        И вообще у них иной тип характера и способности.
    </li>
    <li class="list-group-item list-group-item-warning">Вынужденная работа. Если приходится подрабатывать кассиром, мечтая о карьере певицы, или весь день трудиться менеджером по продажам, чтобы чем-то питаться,
        учась на заочном на экономиста, то речь уже идёт не о реализации мечты, а о банальном выживании.
        Или, например, если не удалось пройти по баллам в выбранный вуз и пришлось срочно хвататься за другие варианты.</li>
    <li class="list-group-item list-group-item-danger">Необходимость продолжить профессиональную династию.Если Коля растёт в семье потомственных учёных, вряд ли ему хватит смелости пойти поступать в художественный вуз.
        Трудно противостоять семейной традиции, даже если она заставляет получать не самую любимую и высокооплачиваемую профессию.</li>
    <li class="list-group-item list-group-item-primary">Погоня за модой: выбор профессии происходит под влиянием тренда. А тренды постоянно меняются, и за пять лет учёбы спрос на специальность может исчезнуть.
        Кроме того, не факт, что каждому выпускнику популярного направления хватит места на рынке труда.</li>
</ol>

<h3>Как мы видим, существует очень много факторов, которые могут помешать нам сделать неверный выбор.
    Чтобы избежать такой ситуации, нужно придерживаться определенных критериев.</h3>
<h3>&#128077; Основные определяющие факторы выбора профессии:</h3>

<ol class="list-group list-group-numbered">
    <li class="list-group-item list-group-item-success">Мотивация, лежащая в основе работы. Люди нацелены либо на результат, либо на избегание проблем и мучений.
        Соответственно, первые быстро принимают решения, стремительно оценивают любые открывающиеся шансы и обладают развитым абстрактным мышлением.
        Такой склад характера подойдет для профессий, где нужно достигать вершин, бороться, совершать прорывы.Вторые, наоборот, лучше работают в спокойных, ясных, упорядоченных условиях с графиками, регламентами, планами.
        Они планомерно трудятся и тоже могут добиться серьёзных успехов, если будут в составе большой дружной команды и у них будет чёткая роль в ней.</li>
    <li class="list-group-item list-group-item-info">Интроверсия и экстраверсия. Чтобы определить свой тип, можно просто пройти надёжный тест от экспертов (лично обращаться к психологу не обязательно).</li>
    <li class="list-group-item list-group-item-warning">Образ жизни. Большинство профессий требуют на первом этапе усердного труда без явных результатов, часто рутинного и монотонного.
        Посмотрите на тех, кто уже работает по интересующей вас специальности и вышел хотя бы на средний уровень:
        есть ли у них отпуска и выходные, какие отношения внутри команды и с начальством, есть ли служебные командировки, нормированный ли график, сколько они реально зарабатывают и т. п.
        Высокооплачиваемая профессия — ещё не гарантия того, что работа будет нравиться вам.</li>
    <li class="list-group-item list-group-item-danger">Место проживания. Такие виды деятельности, как атомная энергетика и добыча природных ресурсов, жёстко привязаны к определённым территориям.
        Дизайнеры и модельеры работают в мегаполисах и столицах. Лесники, например, вынуждены жить в отделённых труднодоступных районах.</li>
    <li class="list-group-item list-group-item-dark">И, наконец, уровень дохода и востребованность профессии.
        Высокооплачиваемые специальности всегда притягивают массу людей, но, кроме зарплаты, необходимо учитывать своё психологическое соответствие должности, способности и увлечения, интересы, и т. п.
    </li>
</ol>

<br>
<br>
<br>
<h3 align="center" >Высокооплачиваемые профессии 2022 года</h3>

<table align="center" border="2" cellspacing="10" class="table table-dark table-hover">
    <tr>
        <td>Youtube и Tik Tok </td>
        <td>Введение своих блогов ничем не отличается от обычной работы, и при этом, довольно прибыльной.
            Заработок на прямую будет зависеть от популярности вашего канала.
            Если рассматривать Ютуб, то видео которые набирают по 50 000 просмотров могут приносить около 50$,
            с перспективой постоянного роста.</td>
    </tr>

    <tr>
        <td>Бухгалтер</td>
        <td>Данный вид профессии хорошо оплачивается если работать в крупной компании.
            В среднем обычный бухгалтер по России получает 40–60 т. рублей, главный 60–100 т. рублей.
            В крупных компаниях средняя з. п. 100 т. р. обычного бухгалтера, а главного 150–300 т. р. </td>
    </tr>
    <tr>
        <td> Юристы, Адвокаты</td>
        <td> <p> У таких персон заработок может доходить до 500 т. р. в месяц. Зарплата на прямую влияет от профессиональных навыков и востребованности в предоставляемых услугах.</p></td>
    </tr>
    <tr>
        <td cellpadding="20"> Начальник участка строительной фирмы</td>
        <td> <p>Зарплата может достигать 200 – 300 тысяч. </p></td>
    </tr>
    <tr>
        <td>Газо и нефтедобывающих отрасли</td>
        <td> <p> У специалистов компании Газпром зарплата доходит до 350 000 рублей, Лукойловцы получают до 150 000 р., а директора данных компаний получают около 600 000 т. рублей. </p></td>
    </tr>
    <td>Маркетолог</td>
    <td> <p> Обычно зарабатывает 40–60 тыс. мес., но в некоторых случаях доход может доходить до 300 т. р.. </p></td>
    </tr>
    <td>Финансисты</td>
    <td> <p> Около 60 000, а директора до 1 миллиона рублей. </p></td>
    </tr>
    <td>IT специалисты</td>
    <td> <p> Средняя зарплата 60 тысяч рублей, в хороших компаниях специалисты могут получать заработную плату в размере 150–300 т. рублей. </p></td>
    </tr>
    <td>Хирурги и стоматологи</td>
    <td> <p> В большинстве случаев в гос учреждениях данные специалисты много не заработают, з/п около 70 тыс. в месяц. А вот если говорить о частных клиниках, то з/п может превышать 150 и 300 тыс. рублей, зависит от специализации, навыков и статуса клиники. </p></td>
    </tr>
    <td>Специалист по кибербезопасности </td>
    <td> <p>  Хорошие специалисты зарабатывают около 100 тыс. рублей, мене опытные около 50 000Р. </p></td>
    </tr>
    <td>Системный аналитик</td>
    <td> <p>  Работа аналитиков хорошо ценится, специалисты с опытом работы от 2 лет в банке могут получать 150—250 ты. руб., в интернет-холдинге 130–190 т. р., в телеком компании 120–180 т.р., в e-commerce 120–190. А в США средняя зарплата аналитика около 100 000$ в год. </p></td>
    </tr>
    <td>Разработчик мобильных приложений </td>
    <td> <p>Часовая ставка такого работника от 1 000 до 3 000Р. Специалисты с опытом работы более 1–2 лет, могут зарабатывать около 100 т.р.. </p></td>
    </tr>
    <td>Аналитик Big Data </td>
    <td> <p> Специалисты по машинному обучению в России могут получать около 120–300 т. р., а в США около 110 000$ в год.</p></td>
    </tr>
</table>

<h3>Таким образом, мы сделали вывод, что, выбирая дело жизни,
    ориентируйтесь не только на список самых высокооплачиваемых профессий в мире, но и на ряд других факторов.
    С интересом подходите к выбору профессии и пробуйте себя во всём новом!</h3>

<h3>&#127918; В конце каждой темы, чтобы закрепить изученный материал, мы будем советовать мобильную игру.</h3>
<h3>Игра: Game Dev Tycoon</h3>
<h3>Game Dev Tycoon — игра про разработку компьютерных игр.
    В лучших американских традициях вы начинаете свой путь с малой гаражной компании и
    вырастаете до крупного представителя индустрии с несколькими помпезными офисами.</h3>
{% endblock content %}
