{% extends 'base.html' %}
{% load static %}

{% block title %}
Тема 4.Рыночная экономика
{% endblock title %}




{% block content %}
<h1>Тема 4.Рыночная экономика</h1>
<h1>Рыночная экономика</h1>
<h3>Рыночная экономика — это экономическая модель, основанная на добровольном обмене ресурсами между продавцами и
    покупателями с учётом действия законов спроса и предложения.</h3>
<center><img class="img-rounded" src="{% static 'img/shake_hands.jpg' %}" height="400px" width="50%"></center>
<h3>Главными особенностями рыночной экономики является:
    <br>
    <br>
    - Личные интересы;
    <br>
    <br>
    - Свобода конкуренции;
    <br>
    <br>
    - Рыночное ценообразование;
    <br>
    <br>
    - Разнообразие форм собственности на средства производства;
    <br>
    <br>
    - Свободное предпринимательство;
    <br>
    <br>
    - Договорные отношения между хозяйствующими субъектами;
    <br>
    <br>
    - Ограниченное вмешательство государства в хозяйственную деятельность;
    <br>
    <br>
    - Рыночная саморегуляция;
    <br>
    <br>
    - Свобода потребителя;
    <br>
    <br>
    - Ограниченное вмешательство государства в хозяйственную деятельность;
    <br>
    </h3>

<h3>Следует заметить, что рыночная экономика защищена от дефицита необходимых благ человеческими потребностями. Если никто не захочет заниматься, например, строительством, то обществу будет грозить гибель, не каждый выживет в условиях зимы без крыши над головой. Кто-то построит дом для себя, руководствуясь инстинктом самосохранения. Он потратит на это много времени, получит бесценный опыт и… станет строить для других. Если, конечно, не хочет умереть с голода без парного мяса, которое готовил все это время свинопас. Далее, пытаясь получить еще больше благ, он будет строить для остальных. И каждый отплатит ему тем, что производит. В тоже время рыночная экономика защищена от переизбытка, – строитель не будет строить дом, если в него некому заселиться. <strong>Спрос определяет предложение</strong>.</h3>
<br>
<br>
<center><img class="img-rounded" src="{% static 'img/2people.jpg' %}" height="400px" width="50%"></center>
<br>
<br>
<h3>Но что произойдет, если строитель будет строить плохие дома? Может появиться второй строитель, более трудолюбивый и умный, которому свинопас прибережет целый мешок свиной вырезки, доверив строительство жилья. А первый строитель, построив сарай на скорую руку, будет довольствоваться невкусными и дешевыми обрезками. Да, рыночная экономика воздает каждому по заслугам. Но нерадивый строитель может исправиться. Он может строить лучше, а требовать меньше, включившись в <strong>конкурентную борьбу </strong>– основной двигатель рыночной экономики, который делает блага качественными и доступными. За свиную вырезку строителям нужно бороться, как на соревнованиях, снижая цены и улучшая качество.</h3>
<br>
<br>
<h3>Если все общество будет охвачено ленью, оно будет довольствоваться малым. Плохими домами, прогнившими бревнами и разбитыми дорогами. И лишь хороший свинопас получит больше благ. А если то, что предлагает ленивое общество, его не устроит, он пойдет к соседям. Он купит нож у кузнеца на севере, а строительство дома закажет на юге, отправив туда добрый кусок мяса. Возможно, что ленивое общество убьет его от зависти, лишив себя последней надежды. Такое бывало в истории даже самых больших государств…
</h3>
<br>
<br>
<h3>Итак, что же мы выяснили? Чем больше и лучше работают люди в обществе, тем больше благ достается им самим, их соплеменникам и будущим потомкам. Тем быстрее происходит <strong>экономический рост</strong>. Иными словами, основной, и, с некоторыми упущениями, единственной причиной экономического роста и благосостояния является деятельность людей.</h3>
<br>
<br>
<h3><p>&#127918; В конце каждой темы, чтобы закрепить изученный материал, мы будем советовать мобильную игру.</p></h3>
<h3><p>Игра: Capitalism II</p></h3>
<h3><p> Это самый настоящий симулятор рыночной экономики. Игроку предстоит заниматься закупками, продажами, производством, маркетингом и изучать финансовые отчеты компаний.</p></h3>
{% endblock content %}
